body {
    font-weight: 800;
    font-family: 'Nunito Sans';
}

.navbar h1 {
    font-size: 26px;
    font-weight: bold;
}

.search {
    width: 500px;
}

.filter {
    width: 200px;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.gx-5 {
    --bs-gutter-x: 5rem;
}

.card {
    background-color: #fafafafa;
    margin-bottom: 70px;
}

.card-img-top {
    object-fit: cover;
    height: 160px;
}

.card-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.fs-6 {
    font-size: .9rem !important;
}

.control-start {
    margin-left: 72px;
}

.control-end {
    margin-right: 72px;
}

@media only screen and (max-width: 862px) {
    .search {
        width: 300px;
        /*margin-bottom: 35px;*/
    }
}

@media only screen and (max-width: 643px) {

    .search {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 519px) {
    .navbar h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .navbar .me-4 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 450px) {
    .search {
        width: 100%;
    }

    .control-start {
        margin-left: 39px;
    }

    .control-end {
        font-size: 14px;
        margin-right: 39px;
    }

    .control {
        width: 70%;
    }

    .navbar h1 {
        font-size: 16px;
        font-weight: bold;
    }

    .margin-sm {
        margin-right: 60px;
        margin-left: 60px;
    }
}

.back {
    width: 120px;
    cursor: pointer;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.back-shadow {
    box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, .175);
}

.flag {
    width: 560px;
    height: 400px;
}

.details-margin {

    margin-left: 7rem !important;
}

.btn1 {
    width: 100px;
    height: 25px;
}

@media only screen and  (max-width: 1050px) {

    .flag {
        width: 400px;
        height: 400px;
    }

    .details-country {
        flex-flow: column wrap;
    }

    .details {
        margin-left: 0 !important;
    }
}


@media only screen and  (max-width: 768px) {

    .flag {
        width: 360px;
        height: 200px;
    }

}

@media only screen and  (max-width: 440px) {
    .flag {
        width: 250px;
        height: 150px;
    }

    .details {
        width: 100% !important;
    }

    .details label.mb-2 {
        width: 100%;
    }

    .btn1 {
        font-size: 12px !important;
        width: 75px;
    }
}

.dropdown{
    cursor: pointer;
}
.dropdown:hover .dropdown-menu {
    display: block;
    padding-left: 10px !important;
    margin-left: -16px !important;
    margin-top: 45px !important;
    padding-right: 8px!important;
    border: 0 !important;
    min-width: 12.5rem!important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}
